#google-map{style:'width:800px; height: 400px'}
%input#fetch-data{type: 'button', value: 'Get Restaurants'}
= javascript_include_tag('https://maps.googleapis.com/maps/api/js?libraries=drawing&callback=SPOONTRIP.mapStart')
