%h1 SpoonTrip!
%p Hello, and welcome to SpoonTrip, a tool to plan your road trips using Google and Urbanspoon to make sure you get the best food available on your trip!
%p To get started, just enter your starting and ending points and hit 'Submit'. When you're ready to enter a new route, just refresh the page to clear out the existing route.

#google-map{style:'width:800px; height: 400px; float: left'}
#right-side{style: 'float: left'}
  %input#fetch-data{type: 'button', value: 'Get Restaurants'}
  = javascript_include_tag('https://maps.googleapis.com/maps/api/js?libraries=drawing&callback=SPOONTRIP.mapStart')
  #directions
    = form_tag do |f|
      %label Origin
      %input#origin{type: 'text', value: 'Seattle'}
      %br
      %label Destination
      %input#destination{type: 'text', value: 'Portland'}
      = submit_tag "Submit"
